@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659082976598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dangaojuan:before {
  content: "\e6b5";
}

.icon-banji:before {
  content: "\e6b9";
}

.icon-putaojiu:before {
  content: "\e6c0";
}

.icon-mantou:before {
  content: "\e6cb";
}

